html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  overflow: hidden;
}

.container {
  display: flex;
}

.left {
  width: 50%;
  height: 100vh;
  font-size: 30pt;
  padding: 10px;
  /* transform: translateX(-50%); */
  white-space: nowrap;
  /* animation: fallingText 2s linear infinite; */
  position: relative;
}

/* @keyframes fallingText {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 1;
  }
} */

.right {
  width: 50%;
  height: 100vh;
  font-size: 50pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark img {
  filter: invert(100%);
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-weight: bold;
  text-transform: uppercase;
  /* text-align: center; */
}

.last-name {
  flex-grow: 1;
  /* letter-spacing: 0.2em; */
}

.links {
  filter: brightness(0) invert(1);
  display: flex;
  align-items: center;
}

.links a {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 10px;
  width: 30%;
  height: 20%;
  overflow: hidden;
}

.links img {
  width: 100%;
  height: 100%;
}